@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@layer base {
  .layout {
    @apply max-w-screen-xl w-11/12 xl:w-[93%] mx-auto;
  }
}

@layer utilities {
  .container-list-manga {
    @apply grid grid-cols-2 xs:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 md:gap-6 gap-4;
  }
  .active-link {
    @apply text-red-400 relative after:absolute after:left-0 after:w-full after:h-1 after:bg-red-400 after:bottom-[-5px] after:transition-all;
  }
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide__main {
  flex: 0 0 100%;
  min-width: 0;
}
